* {
    margin: 0px;
    padding: 0px;
}

.clearfix {
    float: none;
    clear: both;
}

body {
    background: url('../img/hojas.jpg');
    background-attachment: fixed;
}

#global {
    width: 65%;
    margin: 0px auto;
    margin-top: 30px;
    padding: 20px;
    background: white;
    box-shadow: 0px 0px 2px #ccc;
}

#logo {
    font-family: Verdana, Arial;
    font-size: 30px;
    letter-spacing: 4px;
    background: #235E3D;
    color: white;
    text-align: center;
    width: 385px;
    height: 80px;
    margin-bottom: 20px;
    line-height: 75px;
    float: left;
}